/* Reset */

label {
  /*display: block;*/
  font-weight: inherit;
}

iframe {
  border: none;
}

/*---------------------------*/
/* Library */

.glyphicon-spin {
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
.button-validating {
  margin-right: 10px;
}
.radio label, .checkbox label {
  font-weight: inherit;
}

/*---------------------------*/
/* Custom */

body {
  font-family: "adelle-sans", sans-serif;
  font-weight: 300;
}

h1, h2, h3 {
  font-weight: 800;
}

strong {
  font-weight: 700;
}

h1 {
  font-size: 60px;
  font-style: italic;
  word-wrap: break-word;
}

b {
  font-weight: 400;
}

dt {
  font-weight: 600;
}
dd + dt {
  margin-top: 10px;
}

.taller-title {
  margin-top: 64px;
  margin-top: 4rem;
}

.basic-fields,
.attending-fields {
  display: none;
}

.label-help {
  margin: 0;
}

[name="speechOtherName"] {
  width: 8em;
}

.header--home {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #ccc no-repeat url(/i/ohio.jpg) center 15%/cover;
  box-shadow: 0 -10px 20px -10px black inset;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
@media (min-width: 1024px) {
  .header--home {
    background-attachment: fixed;
  }
}
.header-content {
  width: 100%;
  padding-bottom: 25px;
  background: rgba(0,0,0,.55);
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), 0 2px 2px rgba(0, 0, 0, 0.5), 0 3px 3px rgba(0, 0, 0, 0.5);
}

.section {
  margin: 6vh 0 6vh;
}

.welcome-section {
  max-width: 720px;
  max-width: 45rem;
  margin: 8vh auto;
}

.parallax-image {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #ccc no-repeat url(/i/camels.jpg) center 15%/cover;
}
@media (min-width: 1025px) {
  .parallax-image {
    background-attachment: fixed;
  }
}

/*.parallax-camels {background-image: url(/i/camels.jpg);}*/
.parallax-nye {background-image: url(/i/nye.jpg);}
.parallax-berlin {background-image: url(/i/berlin.jpg);}
.parallax-jump {background-image: url(/i/jump.jpg);}
.parallax-square {background-image: url(/i/square.jpg);}
.parallax-sallyjack {background-image: url(/i/sallyjack.jpg);}
/*.parallax-ohio {background-image: url(/i/ohio.jpg);}*/
.parallax-square {background-image: url(/i/square.jpg);}
.parallax-square-2015 {background-image: url(/i/square-2015.jpg);}

.parallax-caption {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 0 1px 1px rgba(0,0,0,0.5), 0 0 10px rgba(0,0,0,.5);
}

.rsvp-header {
  padding: 3vh 0 5vh;
  background: rgba(0,0,0,.55);
  color: white;
  text-align: center;
  color: white;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5), 0 2px 2px rgba(0, 0, 0, 0.5), 0 3px 3px rgba(0, 0, 0, 0.5);
}
